<p id="notice"><%= notice %></p>

<p id="title">
  <b>Title:</b>
  <%= @recipe.title %>
</p>

<p>
  <b>Ingredients:</b>
  <%= @recipe.ingredients %>
</p>

<p>
  <b>Instructions:</b>
  <%= @recipe.instructions %>
</p>

<p>
  <b>Image:</b>
	<%= image_tag @recipe.image_link.url(:medium) %>
	<%#<%= link_to @recipe.image_link, "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR--xISsvmL9BCb0xZiX6526ND2SgdoOuI-iGr5UkYhZPCGMIIUyQ" %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
